/* Configuración de la imagen de fondo de la aplicación. */
.App {
  background: url(./images/rickandmortybackground.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

/* Establecer el ancho máximo de la pantalla en 1600 px y centrarlo. */
.display {
  max-width: 1600px;
  margin: 0 auto 0 auto;
}

/* Configuración de la imagen de fondo de la aplicación. */
.appHeader {
  background: url(./images/Rick-and-Morty-letter.png);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 85vh;
}

/* Establecer la clase formInput para que sea un cuadro flexible con los elementos centrados y
espaciados uniformemente. */
.formInput {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

/* Configuración del estilo del texto de entrada. */
.inputText {
  padding: 10px;
  width: 215px;
  text-align: left;
  background-color: var(--PrincipalColorBg);
  color: var(--PrincipalColorLetter);
  border-radius: 10px;
}

/* El estilo del botón. */
.inputButton {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 170px;
  border-radius: 50px;
  border-width: 0;
  background-color: black;
  color: white;
  font-size: 16px;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}

.inputButtonSpan {
  position: relative;
  z-index: 99;
}

.line,
.line-2 {
  position: absolute;
  width: calc(100% - 20px);
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 1px;
  border-radius: 100%;
  background-color: hsla(240, 100%, 50%, 0.39);
  bottom: 5px;
  animation: line 0.5s infinite linear;
  box-shadow: 0 0 10px 2px rgb(0, 60, 255);
  z-index: 9;
}

@keyframes line {
  0% {
    height: 1px;
    background-color: hsla(240, 100%, 50%, 0.285);
  }

  50% {
    transform: scaleY(5);
    background-color: hsla(0, 59%, 41%, 0.032);
    box-shadow: 0 0 100px 20px rgb(0, 60, 255);
  }

  100% {
    height: 2px;
    background-color: rgb(255, 255, 255);
  }
}

.line-2 {
  animation: line-2 0.5s infinite linear;
  bottom: 1px;
  box-shadow: 0 0 10px 2px rgb(0, 60, 255);
}

@keyframes line-2 {
  0% {
    height: 1px;
    background-color: hsl(327, 100%, 50%);
  }

  50% {
    height: 2px;
    background-color: hsl(0, 0%, 85%);
  }

  100% {
    height: 2px;
    background-color: rgb(255, 255, 255);
  }
}

.speak {
  position: absolute;
  width: 330px;
  height: 10px;
  background-color: pink;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  animation: speak 0.8s infinite linear;
}

.speak.one {
  left: calc(50% + 20px);
  animation: speak 6s infinite linear;
  background-color: hsl(284deg 79% 55%);
}

.speak.two {
  left: calc(50% + 10px);
  animation: speak 0.6s infinite linear;
  background-color: hsl(284deg 79% 55%);
}

.speak.two {
  left: calc(50% + -10px);
  animation: speak 0.6s infinite linear;
  background-color: rgb(0, 255, 149);
}

@keyframes speak {
  0% {
    transform: translateX(-50%) scale(0.1);
  }
}

/* El estilo del contenedor que contendrá las cartas. */
.cardContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

/* El pie de página. */
.footer {
  background-color: var(--PrincipalColorBg);
  color: var(--PrincipalColorLetter);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Una consulta de medios que cambiará el diseño de la página cuando la pantalla tenga menos de 500 px
de ancho. */
@media (max-width: 500px) {
  .appHeader {
    width: auto;
    height: 80vh;
  }

  .formInput {
    flex-direction: column;
  }

  .inputButton {
    margin: 20px;
  }

  .footer {
    flex-direction: column;
  }
}
