/* El CSS para la lista de filtros. */
.filterList {
  max-width: 250px;
  max-height: 400px;
  background-color: var(--PrincipalColorBg);
  position: fixed;
  color: var(--PrincipalColorLetter);
  bottom: 110px;
  left: 70px;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 900;
  overflow-y: scroll;
}

/* Cambiar la propiedad inferior de la clase filterList cuando la pantalla tiene menos de 500 px de
ancho. */
@media (max-width: 500px) {
  .filterList {
    bottom: 150px;
  }
}
